<a href="https://colab.research.google.com/github/devdc142196/python/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
# Create a Spark session
spark =SparkSession.builder.appName("dev").getOrCreate()

data = [
(1,10),(2,20),(3,30),(4,40),(5,50)
]
columns=["id","value"]
# Create DataFrame
df = spark.createDataFrame(data,columns)
# Show the DataFrame
df.show()

#sum

sm=df.select(sum("value").alias("sum"))
sm.show()
avg=df.select(avg("value").alias("avg")).show()
#max
mx=df.select(max("value").alias("max")).show()
#min
mn=df.select(min("value").alias("min")).show()
#cnt
mn=df.select(count("value").alias("count")).show()

+---+-----+
| id|value|
+---+-----+
|  1|   10|
|  2|   20|
|  3|   30|
|  4|   40|
|  5|   50|
+---+-----+

+---+
|sum|
+---+
|150|
+---+

+----+
| avg|
+----+
|30.0|
+----+

+---+
|max|
+---+
| 50|
+---+

+---+
|min|
+---+
| 10|
+---+

+-----+
|count|
+-----+
|    5|
+-----+

In [7]:
from pyspark.sql.types import *

# Sample data
data = [
("HR", 10000, 500, "John"),
("Finance", 20000, 1500, "Doe"),
("HR", 15000, 1000, "Alice"),
("Finance", 25000, 2000, "Eve"),
("HR", 20000, 1500, "Mark")
]
# Define schema
schema = StructType([
StructField("department", StringType(), True),
StructField("salary", IntegerType(), True),
StructField("bonus", IntegerType(), True),
StructField("employee_name", StringType(), True)
])
# Create DataFrame
df1 = spark.createDataFrame(data, schema)
df1.show()

+----------+------+-----+-------------+
|department|salary|bonus|employee_name|
+----------+------+-----+-------------+
|        HR| 10000|  500|         John|
|   Finance| 20000| 1500|          Doe|
|        HR| 15000| 1000|        Alice|
|   Finance| 25000| 2000|          Eve|
|        HR| 20000| 1500|         Mark|
+----------+------+-----+-------------+