<a href="https://colab.research.google.com/github/devdc142196/python/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
# Create a Spark session
spark =SparkSession.builder.appName("dev").getOrCreate()

data = [
(1,10),(2,20),(3,30),(4,40),(5,50)
]
columns=["id","value"]
# Create DataFrame
df = spark.createDataFrame(data,columns)
# Show the DataFrame
df.show()
x=df.count()

print("number of rows in above  dataframe is:",x)

#sum

sm=df.select(sum("value").alias("sum"))
sm.show()
avg=df.select(avg("value").alias("avg")).show()
#max
mx=df.select(max("value").alias("max")).show()
#min
mn=df.select(min("value").alias("min")).show()
#cnt
mn=df.select(count("value").alias("count")).show()

+---+-----+
| id|value|
+---+-----+
|  1|   10|
|  2|   20|
|  3|   30|
|  4|   40|
|  5|   50|
+---+-----+

number of rows in above  dataframe is: 5
+---+
|sum|
+---+
|150|
+---+

+----+
| avg|
+----+
|30.0|
+----+

+---+
|max|
+---+
| 50|
+---+

+---+
|min|
+---+
| 10|
+---+

+-----+
|count|
+-----+
|    5|
+-----+

In [5]:
''''a=int(input("enter first numner:"))
b=int(input("enter second numner:"))
sum = a+b
print("sum of entered numbers is:",sum)'''

for i in range(1,11):
    print(i)

for x in ("hello"):
  print(x)

for x in ("hello","hi im dev"):
  print(x)

z=[1,'dev','c']
for c in z:
  print(c)

1
2
3
4
5
6
7
8
9
10
h
e
l
l
o
hello
hi im dev
1
dev
c

In [11]:
for i in range(3,20,3):
  print(i)

list(range(10))
list(range(1,10))
list(range(-6,10))

3
6
9
12
15
18

[-6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
numbers = [1, 2, 3, 4, 5]
total = 0

for i in numbers:
  total = total + i
print(total)

for i in range(2,5):
  for j in range(i):
    print("*",end="")
  print()

15
**
***
****